In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Puerto Ayora,EC,2022-09-14 05:08:15,-0.7393,-90.3518,63.55,99,90,1.01
1,1,Tsumeb,NaN,2022-09-14 05:08:15,-19.2333,17.7167,65.93,16,0,10.18
2,2,Vaini,TO,2022-09-14 05:08:15,-21.2000,-175.2000,77.16,88,75,8.05
3,3,Saint-Francois,FR,2022-09-14 05:08:15,46.4154,3.9054,62.04,100,0,2.30
4,4,Pevek,RU,2022-09-14 05:08:16,69.7008,170.3133,34.21,99,100,6.02

In [3]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [12]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [15]:
# Heatmap of percent Wind Speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [16]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [17]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
2,2,Vaini,TO,2022-09-14 05:08:15,-21.2000,-175.2000,77.16,88,75,8.05
7,7,Hithadhoo,MV,2022-09-14 05:08:17,-0.6000,73.0833,81.54,70,1,5.84
9,9,Mahebourg,MU,2022-09-14 05:08:17,-20.4081,57.7000,76.24,67,90,6.35
11,11,Cockburn Town,TC,2022-09-14 05:08:18,21.4612,-71.1419,84.16,74,100,17.36
12,12,Hilo,US,2022-09-14 05:08:18,19.7297,-155.0900,77.29,86,40,6.91
23,23,Kavaratti,IN,2022-09-14 05:08:21,10.5669,72.6420,81.36,78,21,12.71
24,24,Port Blair,IN,2022-09-14 05:08:21,11.6667,92.7500,87.84,70,75,13.80
30,30,Kavieng,PG,2022-09-14 05:08:23,-2.5744,150.7967,84.09,69,70,14.16
33,33,Kahului,US,2022-09-14 05:08:23,20.8947,-156.4700,78.84,78,40,12.66
35,35,Champerico,GT,2022-09-14 05:08:24,14.3000,-91.9167,77.86,87,100,7.54

In [18]:
preferred_cities_df.count()

City_ID       169
City          169
Country       169
Date          169
Lat           169
Lng           169
Max Temp      169
Humidity      169
Cloudiness    169
Wind Speed    169
dtype: int64

In [19]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

             City Country  Max Temp      Lat       Lng Hotel Name
2           Vaini      TO     77.16 -21.2000 -175.2000
7       Hithadhoo      MV     81.54  -0.6000   73.0833
9       Mahebourg      MU     76.24 -20.4081   57.7000
11  Cockburn Town      TC     84.16  21.4612  -71.1419
12           Hilo      US     77.29  19.7297 -155.0900
23      Kavaratti      IN     81.36  10.5669   72.6420
24     Port Blair      IN     87.84  11.6667   92.7500
30        Kavieng      PG     84.09  -2.5744  150.7967
33        Kahului      US     78.84  20.8947 -156.4700
35     Champerico      GT     77.86  14.3000  -91.9167

In [20]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [23]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [24]:
hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
2,Vaini,TO,77.16,-21.2000,-175.2000,Keleti Beach Resort
7,Hithadhoo,MV,81.54,-0.6000,73.0833,Scoop Guest House
9,Mahebourg,MU,76.24,-20.4081,57.7000,Shandrani Beachcomber Resort & Spa
11,Cockburn Town,TC,84.16,21.4612,-71.1419,Osprey Beach Hotel
12,Hilo,US,77.29,19.7297,-155.0900,Hilo Hawaiian Hotel
...,...,...,...,...,...,...
527,Chabahar,IR,83.52,25.2919,60.6430,هتل گدروشیا
528,Ugoofaaru,MV,80.69,5.6667,73.0000,Ungoofaaru Inn
530,Andros Town,BS,76.96,24.7000,-77.7667,Hanks place
540,Bonthe,SL,76.19,7.5264,-12.5050,Bonthe Holiday Village
550,Srivardhan,IN,81.14,18.0333,73.0167,Savli Resort/Hotel - Shrivardhan

In [26]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [27]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""